<div class="result_page">
  <h1>We have found your match</h1>
  <p>Click below to subscribe</p>
  <%= image_tag("Netflix-Logo.png", class: "netflix_logo" ) %>
  <%= image_tag("AmazonPrime-Logo.png", class: "amazon_prime_logo" ) %>
  <%= image_tag("Disney.png", class: "disney_plus_logo" ) %>
  <%= image_tag("hulu.png", class: "hulu_logo" ) %>
</div>
