<div class="result_page" class=”breakAfter”>
  <% raise %>
  <div class="divMargin" class=”breakAfter”>
    <h1>We have found your match</h1>
    <p>Click below to subscribe</p>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" class="divSpace">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("Netflix-Logo.png", class: "netflix_logo d-block w-100" ) %>
      </div>
      <div class="carousel-item">
        <%= image_tag("amazon-logo.png", class: "amazon_logo d-block w-100" ) %>
      </div>
      <div class="carousel-item">
        <%= image_tag("disney-logo.png", class: "disneyplus_logo d-block w-100" ) %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="stats">
    <p>Genres:</p>
    <p>Directors:</p>
    <p>Dates released:</p>
  </div>
