<div class="result_page" class=”breakAfter”>
  <h2>Our recommended streaming service for you:</h2>
  <h3><%= params[:results][:streaming_service] %></h3>
  <div class="stats">
    <p>Genres:</p>
    <p>Directors:</p>
    <p>Dates released:</p>
  </div>
