// Define variables for your color scheme

// For example:
$red: #fd1015;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// StreamDream Colors
$black: #080a11;
$off-black: #121526;
$gray: #d9d9d9;
$yellow: #fcd13a;
$blue: #3bafd6;
$peach: #efae85;
$off-white: #f5eeee;
$white: #fbf9f9;
$pink: #e3aeed;
$off-pink: #f9e1fb;
