// Specific CSS for your home-page
.sd-container {
  width: 90%;
  margin: 0 auto;
}

.homepage-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.homepage-title {
  display: flex;
  flex-direction: column;

  strong {
    animation: animateBg 4s linear infinite;
    font-size: 3.2rem;
    background-image: linear-gradient(
      45deg,
      #52bbc2,
      #c979c9,
      #f3a076,
      #52bbc2,
      #c979c9,
      #f3a076
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes animateBg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}

#rotate {
  transform: rotate(-6deg);
  padding-left: 1rem;
}

.homepage-illustration {
  width: 50%;
  height: auto;
}

.homepage-how-to {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  margin: 2rem;
}

.homepage-content {
  display: flex;
  i {
    color: $off-black;
    font-size: 2rem;
    padding-right: 0.8rem;
  }
}
