// Specific CSS for your home-page
.sd-container {
  width: 90%;
  margin: 0 auto;
}

.homepage-top-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.homepage-title {
  display: flex;
  flex-direction: column;

  strong {
    animation: animateBg 4s linear infinite;
    background-image: linear-gradient(
      45deg,
      #6e96e6,
      #bf1336,
      #f3a076,
      #6e96e6,
      #bf1336,
      #f3a076
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes animateBg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}

.next {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: center;

  i {
    color: $white;

    &:hover {
      color: $blue;
    }
  }
}

#rotate {
  // transform: translateY(10px);
  transform: rotate(-6deg) translateY(-0.2em);
  padding-left: 1rem;
}

.homepage-illustration {
  min-width: 250px;
  width: 50%;
  height: auto;
}
.homepage-illustration-steps {
  // min-width: 100px;
  width: 100%;
  // height: auto;
}

.homepage-service {
  padding: 4rem;
  margin: 0 auto;
}

.homepage-how-to {
  display: flex;
  flex-wrap: wrap;
  // align-items: enter;
  justify-content: space-around;
  padding: 2rem;
  margin: 2rem;
}

.homepage-about {
  display: flex;
  justify-content: space-between;
}

.homepage-about-us {
  text-align: left;
  width: 100%;
  margin-top: 50px;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h2 {
    margin-bottom: 2rem;
  }
  p {
    line-height: 2;
  }
}
.full-vh {
  height: 100vh;
}

.stream-bot {
  width: 80%;

  img {
    width: 420px;
  }
}

#service {
  font-size: 3rem;
}

.homepage-content {
  margin: 1rem 0;
  width: 300px;
}
.margin-under {
  margin-bottom: 30px;
}

.homepage-service-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 2rem;
    text-align: center;

    margin: 0 auto;
    div {
      text-align: center;
      margin: 0 auto;
    }
  }
  h3 {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.4rem;
  }

  .homepage-top-section {
    justify-content: center;
    height: 70vh;
  }

  .action-button {
    display: flex;
    justify-content: center;
  }

  .next {
    display: none;
  }

  .full-vh {
    height: 70vh;
  }

  .homepage-about-us {
    width: 100%;

    p {
      margin: 0;
    }
  }

  .homepage-service-content {
    display: flex;
    flex-wrap: wrap;
  }
}
