// Specific CSS for your home-page
.sd-container {
  width: 90%;
  margin: 0 auto;
}

.homepage-top-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.homepage-title {
  display: flex;
  flex-direction: column;

  strong {
    animation: animateBg 4s linear infinite;
    background-image: linear-gradient(
      45deg,
      #6e96e6,
      #bf1336,
      #f3a076,
      #6e96e6,
      #bf1336,
      #f3a076
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes animateBg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}

.next {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: center;

  i {
    color: $white;

    &:hover {
      color: $blue;
    }
  }
}

#rotate {
  // transform: translateY(10px);
  transform: rotate(-6deg) translateY(-0.2em);
  padding-left: 1rem;
}

.homepage-illustration {
  min-width: 250px;
  width: 51%;
  height: auto;
}

.homepage-service {
  height: 50vh;
}

.homepage-how-to {
  display: flex;
  flex-wrap: wrap;
  // align-items: enter;
  justify-content: space-around;
  padding: 2rem;
  margin: 2rem;
}

.homepage-content {
  display: flex;
  justify-content: center;
  width: 230px;
  margin: 1rem 0;
  i {
    color: $white;
    font-size: 1rem;
    padding-right: 0.8rem;
  }
  h3 {

  }
}
