// Specific CSS for your home-page
.sd-container {
  width: 90%;
  margin: 0 auto;
}

.homepage-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.homepage-title {
  display: flex;
  flex-direction: column;

  h1 {
    animation: animateBg 4s linear infinite;
    background-image: linear-gradient(45deg, $blue, $pink, $blue, $pink);
    background-size: 300% 100%;
    // height: 100vh;
    // width: 100vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes animateBg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}

.homepage-illustration {
  width: 50%;
  height: auto;
}

.homepage-how-to {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  margin: 2rem;
}

.homepage-content {
  display: flex;
  i {
    color: $off-black;
    font-size: 2rem;
    padding-right: 0.8rem;
  }
}
