// Specific CSS for your home-page
.sd-container {
  width: 90%;
  margin: 0 auto;
}

.homepage-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.homepage-title {
  display: flex;
  flex-direction: column;
}

.homepage-illustration {
  width: 50%;
  height: auto;
}

.homepage-how-to {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  margin: 2rem;
}

.homepage-content {
  display: flex;
  i {
    color: $off-black;
    font-size: 2rem;
    padding-right: 0.8rem;
  }
}
