.divMargin{
  margin: 30px;
  padding-top: 5px;
}

p.breakAfter{
  margin-bottom:5em;

}

h1{
  font-size: 3.5rem;
  font-family: "Impact", "sans-serif";
}

p{
  font-family: "Poppins", "sans-serif";
  padding-top: 30px;

}

.netflix_logo {
  width: 60vw;
}


.amazon_logo {
  width: 60vw;
}

.disneyplus_logo {

}

.result_page{
  text-align: center;
}

.divSpace{
  margin:1.5em;
}

.progress{
  margin:1
}

.statsbar{

}

.genresbar{

}


.directorsbar{

}

.moviesbar{

}
