<div class="container">
  <div class="row">
    <%= simple_form_for(recommendation_movie) do |f| %>
      <%= f.association :movie, as: :check_boxes%>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
