<div>
  <div>username: <input type="text" placeholder= "username"></div>
  <div>password: <input type="text" placeholder= "password"></div>
  <div>first name: <input type="text" placeholder= "first name"></div>
  <div>last name: <input type="text" placeholder= "last name"></div>
</div>
