<div class="homepage-container">
  <div class="homepage-top-section row">
    <div class="home-page-title col-6">
      <h1>Streaming <br> service <br> selection <br> made easy</h1>
      <p>Find your best streaming service based on your budget easily <br>
      building the best recommendations individually.</h2>
      <div class="action-button">
        <a href="#" class="btn btn-back">Get Started</a>
      </div>
    </div>
    <div class="homepage-illustration col-6">
      <%= image_tag "streamdream_illustration_v1.png", alt: "streamdream-img", height: 500 %>
    </div>
  </div>

  <div class="card-how-to">
    <div class="card-how-to-content">
      <div class="illustration-1">
        <i class="fas fa-video fa-4x"></i>
      </div>

      <div class="card-description">
        <h3> Choose your preferences! </h3>
        <p>Lorem ipsum dolor sit amet <br> consectetur adipiscing elit <br> sed do eiusmod tempor incididunt ut</p>
      </div>
    </div>

    <div class="card-how-to-content">
      <div class="illustration-2">
        <i class="fas fa-video fa-4x"></i>
      </div>
      <div class="card-description">
        <h3> Find your new service </h3>
        <p>Lorem ipsum dolor sit amet <br> consectetur adipiscing elit <br> sed do eiusmod tempor incididunt ut</p>
      </div>
    </div>

    <div class="card-how-to-content">
      <div class="illustration-3">
        <i class="fas fa-video fa-4x"></i>
      </div>
      <div class="card-description">
        <h3> Enjoy your new streaming home! </h3>
        <p>Lorem ipsum dolor sit amet <br> consectetur adipiscing elit <br> sed do eiusmod tempor incididunt ut</p>
      </div>
    </div>
  </div>
<br>
</div>
