<div class="sd-container">
  <div class="homepage-top-section">
    <div class="homepage-title">
      <h1>
        <div class="d-flex">Live
          <div id="rotate"> <strong>streaming</strong></div>
        </div>
        that keeps you <br>
        ahead</h1>
      <p>Find your best streaming service based on your budget easily <br>
        building the best recommendations individually.</p>
      <div class="action-button">
        <%= link_to "Get Started", new_recommendation_movie_path, class: "btn btn-primary"%>
      </div>
    </div>
    <%= image_tag "streamdream_illustration_v1.png", alt: "streamdream-img", class: 'homepage-illustration' %>
  </div>
  <div class="glass-container homepage-how-to">
    <div class="homepage-content">
      <div class="illustration-1">
        <i class="fas fa-video fa-2x"></i>
      </div>
      <div class="card-description">
        <h3> Choose your preferences! </h3>
        <p>Choose any genre of movie you want; <br>
          Action, drama, horror, sci-fi<br>
          and many more!</p>
      </div>
    </div>
    <div class="homepage-content">
      <div class="illustration-2">
        <i class="fas fa-video fa-2x"></i>
      </div>
      <div class="card-description">
        <h3> Find your new service </h3>
        <p>Depending on your genre choice, our<br>
          service will show you your optimal <br>
          streaming service.</p>
      </div>
    </div>
    <div class="homepage-content">
      <div class="illustration-3">
        <i class="fas fa-video fa-4x"></i>
      </div>
      <div class="card-description">
        <h3> Enjoy your new streaming home! </h3>
        <p>With your optimal streaming service set, <br>
          you can now enjoy your new <br>
          streaming home!</p>
      </div>
    </div>
  </div>
</div>
