<h1>Pages#home</h1>
<h2>Pages#home</h2>
<h3>Pages#home</h3>
<h4>Pages#home</h4>
<a href="#" class="btn btn-primary">Primary</a>
<a href="#" class="btn btn-secondary">Secondary</a>
<a href="#" class="btn btn-back">back</a>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="card-container">
    <div class="cards-list">
      <div class="card">

        <h3>Choose your preferences</h3>
      </div>

      <div class="card">
        <i class="fas fa-calendar-alt fa-4x card-visual"></i>
        <h3>Find your new service</h3>
      </div>

      <div class="card">
        <i class="fas fa-leaf fa-4x card-visual"></i>
        <h3>Enjoy your new stream home!</h3>
      </div>
    </div>
  </div>
</div>
