.accuracy-container {
  width: 80%;
}

.accuracy-meter {
  position: fixed;
  display: flex;
  bottom: 2%;
  width: 100%;

  overflow: hidden;
  border-radius: 1.2rem;
}

.block {
  width: 10%;
  height: 2.4rem;
  background: -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
}
