.btn {
  padding: 9px 20px;
  border-radius: 25px;

  color: $white;
  background-color: $white;

  border: 2px solid $white;

  &:hover {
    background-color: $white;
    color: $white;

    border: 2px solid $white;
  }
}

.btn-primary {
  color: $off-white;
  background-color: #e64592;

  border: 2px solid #e64592;

  &:hover {
    color: $off-white;
    background-color: transparent;

    border: 2px solid $off-white;
  }
}

.btn-secondary {
  color: $peach;
  background-color: $white;

  border: 2px solid $peach;

  &:hover {
    color: $white;
    background-color: $peach;

    border: 2px solid $peach;
  }
}

.btn-back {
  color: $white;
  position: fixed;
  left: 4%;

  &:hover {
    color: $off-white;
  }
}
