.btn {
  padding: 9px 20px;
  border-radius: 25px;

  color: $black;
  background-color: $white;

  border: 2px solid $black;

  &:hover {
    background-color: $black;
    color: $white;

    border: 2px solid $black;
  }
}

.btn-primary {
  color: $off-white;
  background-color: $off-black;

  border: 2px solid $off-black;

  &:hover {
    color: $off-black;
    background-color: transparent;

    border: 2px solid $off-black;
  }
}

.btn-secondary {
  color: $peach;
  background-color: $white;

  border: 2px solid $peach;

  &:hover {
    color: $white;
    background-color: $peach;

    border: 2px solid $peach;
  }
}

.btn-back {
  position: fixed;
  top: 25%;

  &:hover {
    color: $blue;
  }
}
