.btn {
  padding: 9px 20px;
  border-radius: 25px;

  color: $black;
  background-color: $white;

  border: 2px solid $black;

  &:hover {
    background-color: $black;
    color: $white;

    border: 2px solid $black;
  }
}

.btn-primary {
  color: $off-white;
  background-color: $off-black;

  border: 2px solid $off-black;

  &:hover {
    color: $off-black;
    background-color: transparent;

    border: 2px solid $off-black;
  }
}

.btn-secondary {
  color: $peach;
  background-color: $white;

  border: 2px solid $peach;

  &:hover {
    color: $white;
    background-color: $peach;

    border: 2px solid $peach;
  }
}

.btn-back {
  margin-bottom: 2rem;
  color: $off-black;
  font-family: $headers-font;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;

  border-bottom: 2px solid $off-black;

  position: relative;

  &:hover {
    color: $blue;
    border-bottom: 2px solid $blue;
  }
}
