.btn {
  padding: 9px 20px;
  border-radius: 25px;
}


.btn-primary {
  color: $white;

  background-color: $red;

  border: 2px solid $red;

  &:hover {
    color: $white;
    background-color: transparent;

    border: 2px solid $white;
  }
}
.btn-secondary {
  color: $white;
  background-color: transparent;

  border: 1px solid $white;

  &:hover {
    color: $white;
    background-color: $blue;

    border: 1px solid $blue;
  }
}

.btn-back {
  color: $white;
  position: fixed;
  left: 4%;

  &:hover {
    color: $blue;
  }
}

.info-btn {
  color: $white;
  transform: translate(225px, -28px);
  cursor: pointer;
}
