.glass-container {
  background-color: rgba($color: $off-black, $alpha: 0.2);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  border: solid 1px $off-pink;
  border-radius: 50px;
}

.card-description {
  // the writing inside the step by step cards
  width: 100%;
}
