body{
background-image:
  radial-gradient(at 47% 33%, hsl(53.49, 63%, 82%) 0, transparent 59%),
  radial-gradient(at 100% 90%, hsl(271.83, 85%, 87%) 0, transparent 80%);
}

.container{
  text-align: center;
  width: 100%;
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  border: solid 1px white;
  border-radius: 50px;
  background-color: rgba(251, 249, 249, 0.3);


}

.hide-checkbox {
  position: absolute;
  transform: scale(0);
}

.hide-checkbox + label {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.hide-checkbox:checked + label {
  cursor: pointer;
  border: 1px solid $pink;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-card {
  background-color: $blue;
  height: 230px;
  width: 200px;
  margin: 1rem;
  border-radius: 10%;
}
