.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 60%;
  padding: 1em;
}

.form-height {
  // height: 500px;
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  border-radius: 50px;
  box-shadow: 0px 0px 10px 5px rgba($gray, $alpha: 0.1);
  overflow: hidden;
  border: solid 1px white;
}

.form-links {
  padding: 1em;
  font-family: $body-font;
  font-size: 0.8em;
}

.form-inputs {
  input {
    border-radius: 10px;
  }
}

.form-img {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;

  background-color: $off-pink;
  color: $off-black;

  width: 40%;

  height: inherit;
  border-radius: 0px 50px 50px 0px;
}
