// body{
// background-image:
//   radial-gradient(at 47% 33%, hsl(53.49, 63%, 82%) 0, transparent 59%),
//   radial-gradient(at 100% 90%, hsl(271.83, 85%, 87%) 0, transparent 80%);
// }

.hide-checkbox {
  position: absolute;
  transform: scale(0);
}

.hide-checkbox + label {
  cursor: pointer;
  height: 99%;
  width: 100%;

  color: transparent; // Don't display title
}

.hide-checkbox:checked + label {
  cursor: pointer;
  border-radius: 10px;
  outline: 5px solid $blue;
}

.hide-checkbox:hover + label {
  cursor: pointer;
  border-radius: 10px;

  font-family: $headers-font;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $off-white;

  background-color: rgba($color: $off-black, $alpha: 0.7);
}

.image-card {
  background-color: $blue;
  height: 370px;
  width: 250px;
  margin: 1rem;
  border-radius: 10px;
}
