.hide-checkbox {
  position: absolute;
  transform: scale(0);
}

.hide-checkbox + label {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.hide-checkbox:checked + label {
  cursor: pointer;
  border: 1px solid $pink;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: $peach;
}

.image-card {
  background-color: $blue;
  height: 223px;
  width: 200px;
  margin: 1rem;
}
