h1 {
  font-family: $headers-font;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.2rem;

  color: $black;
}

h2 {
  font-family: $headers-font;
  font-size: 2rem;
  font-weight: 500;

  color: $black;
}

h3 {
  font-family: $headers-font;
  font-size: 1.3rem;
  font-weight: 500;

  color: $black;
}

h4 {
  font-family: $headers-font;
  font-size: 0.8rem;
  font-weight: 500;
  font-style: italic;

  color: $gray;
}

p {
  font-family: $body-font;
  font-size: 1rem;
  font-weight: 400;

  color: $black;
}
