.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-root-path-menu a {
  padding: 0px 10px;

}

#navbar_logo {
  font-weight: bold;
  font-size: 25px;
  letter-spacing: -1px;
}
