.sd-progress {
  border-radius: 1.5rem;
  // overflow: visible;
  height: 3rem;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.progress-label {
  text-overflow: clip;
  font-size: 0.7rem;
}
