.sd-progress {
  border-radius: 20px !important;
  overflow: visible;
  text-align: center;
  div {
    overflow: visible;
  }
}
.progress-label {
  transform: translateY(-15px);
  color: rgba($color: $white, $alpha: 0);

  &:hover {
    color: rgba($color: $white, $alpha: 1);
  }
}
