.sd-progress {
  overflow: visible;
  height: 1.5rem;

  width: 69%;

  margin: 2rem;
  div {
    overflow: visible;
  }
}

.progress-bar {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-wrap: wrap;
}

.progress-label {
  transform: translateY(-48px) rotateZ(-40deg);
  font-size: 0.8rem;
}
