// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// adding general scss rules
.main-container{
  display: flex;
  background-color: $off-white;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9e1fb;
  background-image:
  radial-gradient(at 47% 33%, hsl(53.49, 63%, 82%) 0, transparent 59%),
  radial-gradient(at 82% 65%, hsl(271.83, 100%, 86%) 0, transparent 55%);
}

a{
  text-decoration: none;
  color: rgb(20, 20, 20);
}

a:hover{
    text-decoration: none;
    color: #3e4b5e;
  }
