// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// adding general scss rules

// body {
//   background-size: 100% 100%;
//   background-position: 0px 0px, 0px 0px;
//   background-image: radial-gradient(
//       25% 25% at 77% 41%,
//       #c0e2ecff 0%,
//       #a8cddd00 100%
//     ),
//     linear-gradient(200deg, #fbf9f9 0%, #f4d9cc 100%);
// }

a {
  text-decoration: none;
  color: rgb(20, 20, 20);
}

a:hover {
  text-decoration: none;
  color: white;
}
